{% extends 'app/base.html' %}
{% load static %}



{% block title %}

PangoTalk | Add Store
{% endblock title %}

{% block content %}




            <main>
                <div class="vd jd tto vv oq ar ri">

                    <!-- Page header -->
                    <div class="ry">

                        <!-- Title -->
                        <h1 class="gg zj text-slate-800 font-bold">Account Settings ✨</h1>

                    </div>

                    <div class="bg-white by rounded-sm ry">
                        <div class="flex fh zt qo">

                            <!-- Sidebar -->
                            <div class="flex fp cn ta qh zp me mu cx zm zg border-slate-200 uz zh"> 
							<div> <div class="gb g_ yu gq it">Business settings</div> 
							
                               {% include 'app/partials/_settings_nav.html' %}							

							</div>

							
							</div>

                            <!-- Panel -->
                                <div class="ad">
            
                                    <!-- Panel body -->
                                    <div class="vs fz">
                                        <div>
                                            <h2 class="gg text-slate-800 font-bold rw">My Stores</h2>
                                            <div class="_y js jn rw qa">

                        <!-- Left: Title -->
                        <div class="rw _a">
                            <div class="hidden _m"> <form class="td"> <label for="action-search" class="tc">Search</label>
							<input id="action-search" class="tn mf kn" type="search" placeholder="Search…" style="padding-right: 150px;height:45px;">
							
							<button class="tp tm tg kp" type="submit" aria-label="Search"> <svg class="ue on ap db yu kv ml-3 mr-2" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"> <path d="M7 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zM7 2C4.243 2 2 4.243 2 7s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5z"></path> <path d="M15.707 14.293L13.314 11.9a8.019 8.019 0 01-1.414 1.414l2.393 2.393a.997.997 0 001.414 0 .999.999 0 000-1.414z"></path> </svg> </button> </form> </div>
						</div>

                        <!-- Right: Actions -->
                        <div class="sq fa _j fm ji fy"> <div class="table-items-action hidden"> <div class="flex items-center"> 
						<div class="hidden tnn text-sm gz mr-2 co"><span class="table-items-count"></span> items selected</div>
						<button class="btn bg-white border-slate-200 hover--border-slate-300 yl xb">Delete</button> </div>
						</div>

						
						
						
						
						
						<div class="nz">
                                        <!-- Start -->
                                        <div x-data="{ modalOpen: false }">
                                            <button class="btn hb xs yo" @click.prevent="modalOpen = true" aria-controls="feedback-modal">
													
											
											<span style="padding: 5px;">Find My Store</span>
											</button>
											
                                            
										
										</div>
                                        <!-- End -->
                                    </div>
                          



						</div>

                    </div>
                                        </div>
            
                                        <!-- Billing Information -->
                                        <section>
                                            
										</section>
            
                                        <!-- Invoices -->
                                        <section>
                                           
                                            <!-- Table -->
                                            <table class="av oq">
                                                <!-- Table header -->
                                                <thead class="gb gq yu">
                                                    <tr class="flex flex-wrap qm md:flex-no-wrap">
                                                        <th class="oq block qb qv vg">
                                                            <div class="g_ gh">Branch Name</div>
                                                        </th>
														
														<th class="oq hidden qb qv vg">
                                                            <div class="g_ gh">Branch Adress</div>
                                                        </th>
														
                                                        <th class="oq hidden qb qv vg">
                                                            <div class="g_ gh">Branch City</div>
                                                        </th>
                                                        
														
														<th class="oq hidden qb qv vg">
                                                            <div class="g_ gh">Option</div>
                                                        </th>
														
                                                        
                                                    </tr>
                                                </thead>
                                                <!-- Table body -->
                                                <tbody class="text-sm">
												{% for store in stores %}
                                                    <!-- Row -->
                                                    <tr class="flex flex-wrap qm md:flex-no-wrap cx border-slate-200 vg zy">
                                                        <td class="oq block qb qv vy zb">
                                                            <div class="gh gk text-slate-800">{{store.branch_name}}</div>
                                                        </td>
														
														<td class="oq block qb qv vy zb">
                                                            <div class="gh">{{store.branch_adress}}</div>
                                                        </td>
														
                                                        <td class="oq block qb qv vy zb">
                                                            <div class="gh">{{store.branch_city}}</div>
                                                        </td>
                                                        
														
                                                        <td class="v_ wk xe vm co ut">
					<div class="td inline-flex" x-data="{ open: false }"> 
						<button class="yu xm rounded-full" :class="{ 'hy text-slate-500': open }" aria-haspopup="true" 
						@click.prevent="open = !open" :aria-expanded="open"> <span class="tc">Menu</span> 
						<svg class="uu of db" viewBox="0 0 32 32"> 
						<circle cx="16" cy="16" r="2">
						</circle> <circle cx="10" cy="16" r="2">
						</circle> <circle cx="22" cy="16" r="2">
						</circle> 
						</svg>
						</button> 
						
						<div class="am nv tp tq tw ae bg-white border border-slate-200 ms rounded by lq iu" @click.outside="open = false" 
						@keydown.escape.window="open = false" x-show="open" x-transition:enter="wr wh wf fe" 
						x-transition:enter-start="opacity-0 aw" x-transition:enter-end="bv ax" 
						x-transition:leave="wr wh wf" x-transition:leave-start="bv" 
						x-transition:leave-end="opacity-0" x-cloak="">
						<ul> 
						<li>
						<a class="gk text-sm ys xy flex mt me" href="#0" 
						@click="open = false" @focus="open = true" 
						@focusout="open = false">Edit</a> 
						</li> 
						
						<li> <a class="gk text-sm yl xb flex mt me" href="#0" 
						@click="open = false" @focus="open = true" @focusout="open = false">Delete</a> 
						</li>
						
						</ul> 
						</div>
						</div> 
						
					</td>
					
                                                    </tr>
                                                    <!-- Row -->
													{% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </section>
                                    </div>
            
                                    <!-- Panel footer -->
                                    
            
                                </div>
            
						
						</div>
                    </div>

                </div>
            </main>

      {% endblock content %}