{% extends 'home/base.html' %}
{% load static %}

{% block tittle %}
		
	PangoTalk | About Us
		
{% endblock tittle %}

{% block content %}

			<!-- ABOUT-2
			============================================= -->
			<section id="about-2" class="about-section">
				<div class="bg-inner bg-lightgrey inner-page-hero division">
					<div class="container">


						<!-- ABOUT-2 TITLE -->
						<div class="row justify-content-center">	
							<div class="col-md-10 col-lg-8">
								<div class="about-2-title">		

									<!-- Title -->	
									<h2 class="h2-xl">Creativity and quality is our destination</h2>

									<!-- Text -->	
									<p class="p-xl">Quaerat sodales sapien and euismod blandit vitae ipsum primis cubilia 
									   undo laoreet augue luctus magna and dolor luctus egestas sapien
									</p>
							
								</div>
							</div>
						</div>    <!-- END ABOUT-2 TITLE -->


						<!-- ABOUT-2 IMAGES -->
						<div class="about-2-images">	
							<div class="row row-cols-1 row-cols-md-2">


								<!-- IMAGES-1 -->
								<div class="col col-md-5">
									<img class="img-fluid" src="{%static './home/images/about-1-img.jpg'%}" alt="about-image">
								</div>


								<!-- IMAGES-2 -->
								<div class="col col-md-7">
									<img class="img-fluid" src="{%static './home/images/about-2-img.jpg'%}" alt="about-image">
								</div>


							</div>	 <!-- End row -->	
						</div>    <!-- END ABOUT-2 IMAGES -->


					</div>	  <!-- End container -->	
				</div>     <!-- End bg-inner -->	
			</section>	<!-- END ABOUT-2 -->




			

			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- STATISTIC-4
			============================================= -->
			


			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- CONTENT-3
			============================================= -->
			<section id="content-3" class="content-3 wide-60 content-section division">
				<div class="container">


					<!-- TOP ROW -->
					<div class="top-row pb-50">
						<div class="row d-flex align-items-center">


							<!-- TEXT BLOCK -->	
							<div class="col-md-7 col-lg-6 order-last order-lg-2">
								<div class="txt-block left-column wow fadeInRight">

									<!-- Section ID -->	
						 			<span class="section-id txt-upcase">Digital Strategy</span>

									<!-- Title -->	
									<h2 class="h2-xs">Start your online business with OLMO</h2>

									<!-- Text -->	
									<p class="p-lg">Quaerat sodales sapien euismod blandit at vitae ipsum primis undo and cubilia 
									   laoreet augue and luctus magna dolor luctus at egestas sapien vitae nemo egestas
									</p>

									<!-- Text -->	
									<p class="p-lg">Quaerat sodales sapien euismod blandit purus a purus ipsum primis in cubilia 
									   laoreet augue luctus magna dolor luctus and egestas sapien egestas vitae nemo volute
									</p>


								</div>
							</div>	<!-- END TEXT BLOCK -->	


							<!-- IMAGE BLOCK -->
							<div class="col-md-5 col-lg-6 order-first order-md-2">
								<div class="img-block left-column wow fadeInLeft">
									<img class="img-fluid" src="{%static './home/images/img-16.png'%}" alt="content-image">
								</div>
							</div>


						</div>
					</div>	<!-- END TOP ROW -->


					<!-- BOTTOM ROW -->
					


				</div>	   <!-- End container -->
			</section>	<!-- END CONTENT-3 -->









			<!-- DIVIDER LINE -->
			<hr class="divider">




			

			{% endblock content %}