{% extends 'home/base.html' %}
{% load static %}

{% block tittle %}
		
	PangoTalk | Busines Live Chat & Online Customer Support Software
		
{% endblock tittle %}

{% block content %}

			<!-- HERO-6
			============================================= -->	
			<section id="hero-6" class="hero-section division">
				<div class="container">	
					<div class="row d-flex align-items-center">


						<!-- HERO TEXT -->
						<div class="col-lg-6">
							<div class="hero-6-txt">
								
								<!-- Title -->
								<h2 class="h2-md">Market , Sell & Support with the Leading Messaging Platform</h2>

								<!-- Text -->
								<p class="p-lg">A business messaging platform that unifies customer communication for
								tech-savvy organizations that market,
								sell & support across instant messaging , whatsapp
								</p> 

								<!-- HERO QUICK FORM -->
								<form name="quickform" class="quick-form shadow-form">

									<!-- Form Inputs -->	
									<div class="input-group">
										<input type="email" name="email" class="form-control email" placeholder="Your email address" autocomplete="off" required>
										<span class="input-group-btn form-btn">
											<button type="submit" class="btn btn-md btn-stateblue black-hover submit">Get Started</button>
										</span>										
									</div>	

									<!-- Form Message -->
									<div class="quick-form-msg"><span class="loading"></span></div>	
									
								</form>			

							</div>
						</div>	<!-- END HERO TEXT -->


<style>

.container .text{
color:#black;
}.text.text-first:before{
content: "";
position:absolute;
top:40px;
left:0px;
height:120px;
weidth:100%;
border-left: 2px solid #4070f4;
background-color:#black;
animation: animate 4s steps(2) infinite;

}
@keyframes animate{
40%, 60%{

left:100%;}

100%{

left:0%;}
}
</style>

						<!-- HERO IMAGE -->
						<div class="col-lg-6">	
							<div class="hero-6-img text-center">				
								<img class="img-fluid" src="{%static './home/images/asset-home.png'%}" alt="hero-image">
							</div>
						</div>
						

					</div>    <!-- End row --> 	
				</div>	   <!-- End container --> 	


				<!-- WAVE SHAPE BOTTOM -->	
				<div class="wave-shape-bottom">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 215"><path fill="#ffffff" fill-opacity="1" d="M0,128L120,149.3C240,171,480,213,720,208C960,203,1200,149,1320,122.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
				</div>


			</section>	<!-- END HERO-6 -->	




			<!-- FEATURES-8
			============================================= -->
			<section id="features-8" class="wide-60 features-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-lg-10 col-xl-8">
							<div class="section-title title-01 mb-70">		

								<!-- Title -->	
								<h2 class="h2-md">One Messaging Platform for Marketing, Sales & Support</h2>	

								<!-- Text -->	
								<p class="p-xl">
								Drive Sales, Support & Marketing Conversations on the World’s most popular messaging App
								   
								</p>
									
							</div>	
						</div>
					</div>


					<!-- FEATURES-8 WRAPPER -->	
			 		<div class="fbox-8-wrapper text-center">
			 			<div class="row row-cols-1 row-cols-md-3">


		 					<!-- FEATURE BOX #1 -->
		 					<div class="col">
		 						<div class="fbox-8 mb-40 wow fadeInUp">

									<!-- Image -->
									<div class="fbox-img bg-whitesmoke-gradient">
										<img class="img-fluid" src="{%static './home/images/Customise-messages.png'%}" alt="feature-icon" />
									</div>

									<!-- Title -->
									<h5 class="h5-md">Whatsapp E-commerce</h5>
											
									<!-- Text -->
									<p class="p-lg">Allow your customers to browse catalogues, select items, and check out through a single message.
                                     Accepting and receiving payments digitally using payments on WhatsApp.
                                     									 
									</p>

		 						</div>
		 					</div>


		 					<!-- FEATURE BOX #2 -->
		 					<div class="col">
		 						<div class="fbox-8 mb-40 wow fadeInUp">

									<!-- Image -->
									<div class="fbox-img bg-whitesmoke-gradient">
										<img class="img-fluid" src="{%static './home/images/Improve-customer-satisfaction.png'%}" alt="feature-icon" />
									</div>

									<!-- Title -->
									<h5 class="h5-md">Shared Team Inbox</h5>
											
									<!-- Text -->
									<p class="p-lg">Shared Team Inbox makes it simple for you to use WhatsApp for customer support. Multiple agents can login to serve customers.

                                        Make it easy for the team to collaborate with private notes.

									</p>

		 						</div>
		 					</div>


		 					<!-- FEATURE BOX #3 -->
		 					<div class="col">
		 						<div class="fbox-8 mb-40 wow fadeInUp">

									<!-- Image -->
									<div class="fbox-img bg-whitesmoke-gradient">
										<img class="img-fluid" src="{%static './home/images/clyot.jpg'%}" alt="feature-icon" />
									</div>

									<!-- Title -->
									<h5 class="h5-md">Broadcast & Bulk Messages</h5>
											
									<!-- Text -->
									<p class="p-lg">Leverage the power of WhatsApp Marketing by starting a WhatsApp Broadcast for up to 100k recipients in a single click.
									</p>

		 						</div>
		 					</div>	


				 		</div>  <!-- End row -->	
				 	</div>	<!-- END FEATURES-8 WRAPPER -->	


				</div>	   <!-- End container -->		
			</section>	<!-- END FEATURES-8 -->	




			

			<!-- CONTENT-10
			============================================= -->
			<section id="content-10" class="content-10 wide-100 content-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-10 col-lg-8">
							<div class="section-title title-02 mb-60">			

								<!-- Section ID -->	
					 			<span class="section-id txt-upcase">Extremely Flexible</span>	

								<!-- Title -->	
								<h2 class="h2-xs">Discover powerful features to boost your productivity</h2>		

							</div>	
						</div>
					</div>


			 		<!-- IMAGE BLOCK -->
			 		<div class="row">
						<div class="col">
							<div class="img-block text-center video-preview wow fadeInUp">

								<!-- Play Icon --> 
								<a class="video-popup1" href="#">				
									<div class="video-btn video-btn-xl bg-pink ico-90">	
										<div class="video-block-wrapper"><span class="flaticon-play-button"></span></div>
									</div>
								</a>

								<!-- Preview Image --> 
			 					<img class="img-fluid" src="{%static './home/images/dash.jpg'%}" alt="video-preview">

							</div>
						</div>
					</div>


				</div>	   <!-- End container -->
			</section>	<!-- END CONTENT-10 -->




			<!-- FEATURES-4
			============================================= -->
			<section id="features-4" class="pb-60 features-section division">
				<div class="container">


					<!-- FEATURES-4 WRAPPER -->
					<div class="fbox-4-wrapper">
						<div class="row row-cols-1 row-cols-md-2">


							<!-- FEATURE BOX #1 -->
		 					<div class="col">
		 						<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico">
		 								<div class="fbox-ico-center ico-65">
											<span class="flaticon-dashboard"></span>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
		
										<!-- Title -->
										<h5 class="h5-md">Whatsapp Chatbot</h5>
											
										<!-- Text -->
										<p class="p-lg">
										
										Designed to resolve service queries, issues, and complaints in context and in-line with business rules.
										</p>

									</div>

		 						</div>
		 					</div>	


		 					<!-- FEATURE BOX #2 -->
		 					<div class="col">
		 						<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico">
		 								<div class="fbox-ico-center ico-65">
											<span class="flaticon-pantone"></span>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
		
										<!-- Title -->
										<h5 class="h5-md">Team Inbox</h5>
											
										<!-- Text -->
										<p class="p-lg">
										One whatsapp number , multiple support agents.Shared Team Inbox makes it simple for you to use WhatsApp for customer support. 
										Multiple agents can login to serve customers.
										</p>

									</div>

		 						</div>
		 					</div>	


		 					<!-- FEATURE BOX #3 -->
		 					<div class="col">
		 						<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico">
		 								<div class="fbox-ico-center ico-65">
											<span class="flaticon-folder-3"></span>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
		
										<!-- Title -->
										<h5 class="h5-md">Knowledge Base</h5>
											
										<!-- Text -->
										<p class="p-lg">
										
										Provide valuable information to your customers by curating content which they can read via whatsapp,
										the knowledge base support content type: text , pictures, audio and videos.
										
										</p>

									</div>

		 						</div>
		 					</div>	


		 					<!-- FEATURE BOX #4 -->
		 					<div class="col">
		 						<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico">
		 								<div class="fbox-ico-center ico-65">
											<span class="flaticon-resize"></span>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
		
										<!-- Title -->
										<h5 class="h5-md">Promotions & Coupons</h5>
											
										<!-- Text -->
										<p class="p-lg">
										
										Customers can signup for gift cards ,coupons and also see promotions that are being offered by your business.
										Business can drive sales by offering discounts on coupons.
										</p>

									</div>

		 						</div>
		 					</div>	


		 					<!-- FEATURE BOX #5 -->
		 					<div class="col">
		 						<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico">
		 								<div class="fbox-ico-center ico-65">
											<span class="flaticon-share"></span>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
		
										<!-- Title -->
										<h5 class="h5-md">Events & Booking</h5>
											
										<!-- Text -->
										<p class="p-lg">
										
										Publishing events and booking for events have been made super easy on our platform.You can create events that can be viewed via whatsapp 
										and also booking can also be done via whatsapp.
										
										</p>

									</div>

		 						</div>
		 					</div>	


		 					<!-- FEATURE BOX #6 -->
		 					<div class="col">
		 						<div class="fbox-4 pc-25 mb-40 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico">
		 								<div class="ico-65">
											<span class="flaticon-layers"></span>
										</div>
									</div>

									<!-- Text -->
									<div class="fbox-txt">
		
										<!-- Title -->
										<h5 class="h5-md">Manage Orders</h5>
											
										<!-- Text -->
										<p class="p-lg">
										Orders from whatsapp are streamed direct to our pangotalk dashboard giving business the ability to track and manage orders.
										
										
										</p>

									</div>

		 						</div>
		 					</div>	


		 				</div>
					</div>    <!-- END FEATURES-4 WRAPPER -->


				</div>     <!-- End container --> 	
			</section>	<!-- END FEATURES-4 -->




					<!-- CONTENT-2
			============================================= -->
			<section id="content-2" class="content-2 pb-60 content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- IMAGE BLOCK -->
						<div class="col-md-5 col-lg-6">
							<div class="rel img-block left-column wow fadeInRight">
								<img class="img-fluid" src="{%static './home/images/asset-4.png'%}" alt="content-image-1">
							</div>
						</div>


						<!-- TEXT BLOCK -->	
						<div class="col-md-7 col-lg-6">
							<div class="txt-block right-column wow fadeInLeft">

								<!-- Section ID -->	
					 			<span class="section-id rounded-id bg-tra-purple purple-color txt-upcase">
					 				Extremely Flexible
					 			</span>

								<!-- Title -->	
								<h2 class="h2-xs">Work smarter with powerful features</h2>

								<!-- List -->	
								<ul class="simple-list">

									<li class="list-item">
										<p class="p-lg">
										PangoTalk WhatsApp Team inbox allows your customer support or customer satisfaction
										team to respond to customers’ queries over WhatsApp simultaneously and through different devices.
										
										</p>
									</li>

									

									<li class="list-item">
										<p class="p-lg">
										
										The WhatsApp Team inbox solution turns your WhatsApp inbox into a pleasant 
										communication space for both the clients and the team. Moreover,
										it makes it easy and efficient to manage customer support for your business.
										
										</p>
									</li>

								</ul>

							</div>
						</div>	<!-- END TEXT BLOCK -->	


					</div>	   <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END CONTENT-2 -->



			<!-- CONTENT-6
			============================================= -->
			
			<!-- CONTENT-5
			============================================= -->
			<section id="content-5" class="content-5 ws-wrapper content-section division">
				<div class="container">
					<div class="content-5-wrapper bg-whitesmoke">
						<div class="row d-flex align-items-center">


							<!-- TEXT BLOCK -->	
							<div class="col-md-7 col-lg-6">
								<div class="txt-block left-column wow fadeInRight">

									<!-- Section ID -->	
					 				<span class="section-id rounded-id bg-tra-purple purple-color txt-upcase">
					 					Totally Optimized
					 				</span>

						 			<!-- Title -->	
									<h2 class="h2-xs">More productivity with less effort</h2>

									<!-- List -->	
									<ul class="simple-list">

										<li class="list-item">
											<p class="p-lg">
											
											Delight shoppers with easy product discovery, guided selling, loyalty program alerts, coupons,
											re-buys and after-sales engagement
											
											</p>
										</li>



									</ul>

								</div>
							</div>	<!-- END TEXT BLOCK -->	


							<!-- IMAGE BLOCK -->
							<div class="col-md-5 col-lg-6">
								<div class="img-block right-column wow fadeInLeft">
									<img class="img-fluid" src="{%static './home/images/retail_1.webp'%}" alt="content-image">
								</div>
							</div>


						</div>
					</div>    <!-- End row -->
				</div>	   <!-- End container -->	
			</section>	<!-- END CONTENT-5 -->


			<!-- CONTENT-3
			============================================= -->
			<section id="content-3" class="content-3 wide-60 content-section division">
				<div class="container">


					<!-- TOP ROW -->
					<div class="top-row pb-50">
						<div class="row d-flex align-items-center">


							<!-- IMAGE BLOCK -->
							<div class="col-md-5 col-lg-6">
								<div class="img-block left-column wow fadeInRight">
									<img class="img-fluid" src="{%static './home/images/animatedGIF_commerce__3_.gif'%}" alt="content-image">
								</div>
							</div>


							<!-- TEXT BLOCK -->	
							<div class="col-md-7 col-lg-6">
								<div class="txt-block right-column wow fadeInLeft">

									<!-- Section ID -->	
						 			<span class="section-id rounded-id bg-tra-purple purple-color txt-upcase">
						 				Fast Performance
						 			</span>

									<!-- Title -->	
									<h2 class="h2-xs">Sell more with your
WhatsApp store</h2>

									<!-- Text -->	
									<p class="p-lg">
									
									
									
									</p>

									<!-- TEXT BOX -->	
									<div class="txt-box">

										<!-- Title -->	
										<h5 class="h5-md">All Tools in One Place</h5>

										<!-- List -->	
										<ul class="simple-list">

											<li class="list-item">
												<p class="p-md">
												
							Showcase relevant products from your catalog with WhatsApp product messages through PangoTalk
							Send interactive multi and single-product messages to present products from your inventory
							Allow adding products to the shopping cart without risking obsolete information such as price and availability
												
												
												</p>
											</li>

											

										</ul>

									</div>	

								</div>
							</div>	<!-- END TEXT BLOCK -->	


						</div>
					</div>	<!-- END TOP ROW -->


					<!-- BOTTOM ROW -->
					<div class="bottom-row">
						<div class="row d-flex align-items-center">


							<!-- TEXT BLOCK -->	
							<div class="col-md-7 col-lg-6 order-last order-md-2">
								<div class="txt-block left-column wow fadeInRight">

									<!-- TEXT BOX -->	
									<div class="txt-box mb-20">

										<!-- Title -->	
										<h5 class="h5-lg">Support  that  sells</h5>

										<!-- Text -->	
										<p class="p-lg">
										
										Build brand loyalty with consistent, high-quality support throughout the
										customer journey. Offer conversational or ticketed support on the channels customers
										use most and add chat automation for faster responses and resolutions.
										</p>

									</div>

									<!-- TEXT BOX -->	
									<div class="txt-box">

										<!-- Title -->	
										<h5 class="h5-lg">The best channel for staying in touch</h5>

										<!-- List -->	
										<ul class="simple-list">

											<li class="list-item">
												<p class="p-lg">
												
												Your customers love messaging. With PangoTalk, you’ll love it too.
												 
												All customer chats arrive in your Message Center – your cockpit for professional live chat support.
												
												</p>
											</li>

											

										</ul>

									</div>	<!-- END TEXT BOX -->	

								</div>
							</div>	<!-- END TEXT BLOCK -->	


							<!-- IMAGE BLOCK -->
							<div class="col-md-5 col-lg-6 order-first order-md-2">
								<div class="img-block right-column wow fadeInLeft">
									<img class="img-fluid" src="{%static './home/images/asset-3.png'%}" alt="content-image">
								</div>
							</div>


						</div>
					</div>	<!-- END BOTTOM ROW -->


				</div>	   <!-- End container -->
			</section>	<!-- END CONTENT-3 -->


			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- STATISTIC-2
			============================================= -->
			<section id="statistic-2" class="wide-100 statistic-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- TEXT BLOCK -->	
						<div class="col-lg-6">
							<div class="txt-block right-column wow fadeInLeft">
								<h3 class="h3-xs">More than 215 users around the world are already using PangoTalk actively</h3>
							</div>
						</div>


						<!-- STATISTIC BLOCK #1 -->
						<div class="col-sm-5 col-md-4 col-lg-3 offset-sm-1 offset-md-2 offset-lg-1">						
							<div class="statistic-block wow fadeInUp">	

								<!-- Text -->
								<h2 class="h2-title-xs statistic-number"><span class="count-element">215</span></h2>
								<p class="p-lg mt-20">Active active users <br /> from the community</p>		

							</div>						
						</div>


						<!-- STATISTIC BLOCK #2 -->
						<div class="col-sm-5 col-md-4 col-lg-2">						
							<div class="statistic-block wow fadeInUp">	

								<!-- Text -->
								<h2 class="h2-title-xs statistic-number">
									<span class="count-element">4</span>.<span class="count-element">86</span>
								</h2>

								<!-- Rating -->
								<div class="txt-block-rating ico-15 yellow-color">
									<span class="flaticon-star-1"></span>
									<span class="flaticon-star-1"></span>
									<span class="flaticon-star-1"></span>
									<span class="flaticon-star-1"></span>
									<span class="flaticon-star-half-empty"></span>	
								</div>

								<p class="p-lg txt-400">8,376 Rating</p>																									
							</div>								
						</div>


					</div>    <!-- End row -->
				</div>	   <!-- End container -->		
			</section>	<!-- END STATISTIC-2 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- CONTENT-2
			============================================= -->
			<section id="content-2" class="content-2 wide-60 content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- IMAGE BLOCK -->
						<div class="col-md-5 col-lg-6">
							<div class="rel img-block left-column video-preview wow fadeInRight">
								
								<!-- Play Icon --> 
								

								<!-- Preview Image --> 
			 					<img class="img-fluid" src="{%static './home/images/food_2.webp'%}" alt="video-preview">

							</div>
						</div>


						<!-- TEXT BLOCK -->	
						<div class="col-md-7 col-lg-6">
							<div class="txt-block right-column wow fadeInLeft">

								<!-- TEXT BOX -->	
								<div class="txt-box mb-20">

									<!-- Title -->	
									<h5 class="h5-lg">All Tools in One Place</h5>

									<!-- Text -->	
									<p class="p-lg">
									
									Experience the power of conversational  customer support on WhatsApp
									</p>

								</div>

								<hr>

								<!-- CONTENT BOX #1 -->
								<div class="cbox-3 mb-10">
		 							<div class="cbox-3-ico ico-15"><span class="flaticon-check purple-color"></span></div>
									<div class="cbox-3-txt"><h6 class="h6-lg">Widen Your Reach</h6></div>
								</div>	

								<!-- CONTENT BOX #2 -->
								<div class="cbox-3 mb-10">
		 							<div class="cbox-3-ico ico-15"><span class="flaticon-check purple-color"></span></div>
									<div class="cbox-3-txt"><h6 class="h6-lg">Connect to Agents</h6></div>	
								</div>	

								<!-- CONTENT BOX #3 -->
								<div class="cbox-3 mb-10">
		 							<div class="cbox-3-ico ico-15"><span class="flaticon-check purple-color"></span></div>
									<div class="cbox-3-txt"><h6 class="h6-lg">Reduce Ops Cost</h6></div>			
								</div>	

								<!-- CONTENT BOX #4 -->
								<div class="cbox-3 mb-10">
		 							<div class="cbox-3-ico ico-15"><span class="flaticon-check purple-color"></span></div>
									<div class="cbox-3-txt"><h6 class="h6-lg">Increase Read Rate</h6></div>			
								</div>
								
								
								<!-- CONTENT BOX #5 -->
								<div class="cbox-3 mb-10">
		 							<div class="cbox-3-ico ico-15"><span class="flaticon-check purple-color"></span></div>
									<div class="cbox-3-txt"><h6 class="h6-lg">Improve Response Rate</h6></div>			
								</div>
								
								
								<!-- CONTENT BOX #6 -->
								<div class="cbox-3 mb-10">
		 							<div class="cbox-3-ico ico-15"><span class="flaticon-check purple-color"></span></div>
									<div class="cbox-3-txt"><h6 class="h6-lg">Improve Brand Recall</h6></div>			
								</div>
   
                               
							</div>
						</div>	<!-- END TEXT BLOCK -->	


					</div>	   <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END CONTENT-2 -->




			

			<!-- BRANDS-2
			============================================= -->
			

			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- CONTENT-7
			============================================= -->
			<section id="content-7" class="content-7 wide-60 content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">

								
						<!-- TEXT BLOCK -->		
						<div class="col-md-6 order-last order-md-2">
							<div class="txt-block left-column wow fadeInLeft">

								<!-- Section ID -->	
					 			<span class="section-id txt-upcase">Easy Integration</span>		

								<!-- Title -->	
								<h2 class="h2-xs">Intuitive features, powerful results</h2>

								<!-- List -->	
								<ul class="simple-list">

									<li class="list-item">
										<p class="p-lg">Create a seamless customer journey by starting to strike a conversation, welcoming your customers, and closing the conversation in a meaningful way.
										</p>
									</li>

									<li class="list-item">
										<p class="p-lg">
										
										Talking to a new customer? Collect their phone, name and location, showcase your product recommendations, get feedback, and do more.
										</p>
									</li>

								</ul>

								<!-- Tools List -->
								

							</div>	
						</div>	<!-- END TEXT BLOCK -->		


						<!-- IMAGE BLOCK -->	
						<div class="col-md-6 order-first order-md-2">
							<div class="content-7-img wow fadeInRight">
								<img class="img-fluid" src="{%static './home/images/dashboard.jpg'%}" alt="content-image">
							</div>	
						</div>


					</div>	  <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END CONTENT-7 -->




			
			

{% endblock content %}