{% extends 'default/base.html' %}

{% load static %}

{% block title %}
Manage  | Business Profile

{% endblock title %}


		{% block content %}
        <br>
		<br>

        <div class="page-wrapper">

            <!-- Page Content-->
            <div class="page-content-tab">

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-end">
                                    
                                </div>
                                <h4 class="page-title">Business Profile Manager</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="align-self-center">
                                    <button type="button" class="btn btn-de-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalSend"><i data-feather="navigation" class="align-self-center icon-xs me-2"></i>Send</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalSend" tabindex="-1" aria-labelledby="exampleModalSendLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6 class="modal-title m-0" id="exampleModalDefaultSend">Send Coin</h6>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="mb-2">
                                                        <label for="cryptocurrency">Crypto Currency</label>              
                                                        <select class="form-select" aria-label="Default select example">
                                                           <option selected>-- Currency --</option>
                                                            <option value="BTC">BTC</option>
                                                            <option value="ETH">ETH</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="cryptocurrency">Currency From</label>              
                                                        <select class="form-select" aria-label="Default select example">
                                                           <option selected>-- My wallet --</option>
                                                            <option value="BTC">BTC</option>
                                                            <option value="ETH">ETH</option>
                                                        </select>
                                                    </div>
                                                    <div class=" mb-2">
                                                        <label for="toaddress">To</label> 
                                                        <div class="input-group">                                                            
                                                            <span class="input-group-text" id="QUcode"><i class="fas fa-qrcode"></i></span>
                                                            <input type="text" class="form-control" placeholder="Can you scan" aria-label="Scancode">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-2">
                                                                <label for="toaddress">USD</label> 
                                                                <div class="input-group">
                                                                    <span class="input-group-text" id="US-dollor"><i class="fas fa-dollar-sign"></i></span>
                                                                    <input type="text" class="form-control" placeholder="USD" aria-label="US-dollor">
                                                                </div>
                                                            </div>
                                                        </div><!--end col-->
                                                        <div class="col-md-6">
                                                            <div class="mb-2">
                                                                <label for="BTC">BTC</label> 
                                                                <div class="input-group">
                                                                    <span class="input-group-text" id="BTC-coin"><i class="fab fa-btc"></i></span>
                                                                    <input type="text" class="form-control" placeholder="BTC" aria-label="BTC-coin">
                                                                </div>
                                                            </div>                                                            
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                    <div class="mb-2">
                                                        <label for="Description">Description</label>              
                                                        <textarea class="form-control" rows="3" aria-label="With textarea"></textarea>
                                                    </div>
                                                    <div class="mt-2 mb-1">
                                                        <label for="NetworkFree">Network Free</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mb-0">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Regular" value="option1">
                                                        <label class="form-check-label" for="Regular">Regular</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mb-0">
                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Priority" value="option2">
                                                        <label class="form-check-label" for="Priority">Priority</label>
                                                    </div>
                                                </div><!--end modal-body-->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-de-danger btn-sm" data-bs-dismiss="modal">Close</button>
                                                    <button class="btn btn-de-primary btn-sm" type="button">Continue</button>
                                                </div><!--end modal-footer-->
                                            </div><!--end modal-content-->
                                        </div><!--end modal-dialog-->
                                    </div><!--end modal-->                                    

                                    <button type="button" class="btn btn-de-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalRequest"><i data-feather="download" class="align-self-center icon-xs me-2"></i>Request</button>
                                    <div class="modal fade" id="exampleModalRequest" tabindex="-1" aria-labelledby="exampleModalRequestLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6 class="modal-title m-0" id="exampleModalRequestLabel">Request Coin</h6>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="mb-2">
                                                        <label for="cryptocurrency">Crypto Currency</label>              
                                                        <select class="form-select" aria-label="Default select example">
                                                           <option selected>-- Currency --</option>
                                                            <option value="BTC">BTC</option>
                                                            <option value="ETH">ETH</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="cryptocurrency">Receive To</label>              
                                                        <select class="form-select" aria-label="Default select example">
                                                           <option selected>-- My wallet --</option>
                                                            <option value="BTC">BTC</option>
                                                            <option value="ETH">ETH</option>
                                                        </select>
                                                    </div>
                                                    <div class=" mb-2">
                                                        <label for="toaddress">Address</label> 
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"  id="W-Address" value="c12b001a15f9bd46ef1c6551386c">
                                                            <button class="btn btn-outline-light" type="button" id="Copy_link"><i class="fas fa-copy"></i></button>
                                                        </div>
                                                    </div>                                                    
                                                </div><!--end modal-body-->
                                                <div class="modal-footer">
                                                    <button class="btn btn-de-success btn-sm" type="button">Done</button>
                                                </div><!--end modal-footer-->
                                            </div><!--end modal-content-->
                                        </div><!--end modal-dialog-->
                                    </div><!--end modal-->
                                </div><!--end /div-->
                                <div class="media">

									
									<div class="media-body align-self-center">     
                                        
                                    </div><!--end media-body-->
                                </div><!--end media-->
                            </div><!--end /div-->
                        </div><!--end col-->
                    </div><!--end row-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="met-profile">
                                        <div class="row">
                                            <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                                                <div class="met-profile-main">
                                                    
                                                    <div class="met-profile_user-detail">
                                                        <h5 class="met-user-name">{{businessinfo.BusinessName}}</h5>                                                        
                                                        <p class="mb-0 met-user-name-post">{{businessinfo.businessCategory}}</p> 
                                                        <p class="mb-0 met-user-name-post">{{businessinfo.street_name}}</p> 														
                                                    </div>
                                                </div>                                                
                                            </div><!--end col-->
                                            
                                            <div class="col-lg-4 ms-auto align-self-center">
                                                <ul class="list-unstyled personal-detail mb-0">
                                                    <li class=""><i class="las la-phone mr-2 text-secondary font-22 align-middle"></i> <b> phone </b> : {{businessinfo.phone}}</li>
                                                    <li class="mt-2"><i class="las la-envelope text-secondary font-22 align-middle mr-2"></i> <b> Email </b> : {{businessinfo.email}}</li>
                                                    <li class="mt-2"><i class="las la-globe text-secondary font-22 align-middle mr-2"></i> <b> Website </b> : 
                                                        <a href="{{businessinfo.website}}" class="font-14 text-primary">{{businessinfo.website}}</a> 
                                                    </li>                                                   
                                                </ul>
                                               
                                            </div><!--end col-->
                                            <div class="col-lg-4 align-self-center">
                                                <div class="row">
                                                    <div class="col-auto text-end border-end">
                                                        <button type="button" class="btn btn-soft-primary btn-icon-circle btn-icon-circle-sm mb-2">
                                                            <i class="fab fa-facebook-f"></i>
                                                        </button>
                                                        <p class="mb-0 font-weight-semibold">Facebook</p>
                                                        <h4 class="m-0 font-weight-bold">25k <span class="text-muted font-12 font-weight-normal">Followers</span></h4>
                                                    </div><!--end col-->
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-soft-info btn-icon-circle btn-icon-circle-sm mb-2">
                                                            <i class="fab fa-twitter"></i>
                                                        </button>
                                                        <p class="mb-0 font-weight-semibold">Twitter</p>
                                                        <h4 class="m-0 font-weight-bold">58k <span class="text-muted font-12 font-weight-normal">Followers</span></h4>
                                                    </div><!--end col-->
                                                </div><!--end row-->                                               
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end f_profile-->                                                                                
                                </div><!--end card-body--> 
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
    
                  


                 <form method = "POST">
                    <div class="row"> 
                        
                         
                          {% csrf_token %}						 
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                                                              
                                        <label class="form-label" for="setFullName">Bot Url</label>
                                        <input type="text" class="form-control" name = "bot_url"  id="setFullName" value = "{{businessinfo.bot_endpoint}}" placeholder="http://bot.endpoint">
										
										<label class="form-label" for="setFullName">BotAPI Key</label>
                                        <input type="text" class="form-control" name = "bot_apiKey"  id="setFullName" value = "{{businessinfo.bot_apiKey}}" placeholder="http://bot.endpoint">
										
									    <label class="form-label mt-2" for="setEmail">Bot Name</label>
                                        <input type="text" class="form-control" name = "bot_name" id="setEmail" value = "{{businessinfo.bot_name}}" >
                                          
										<label class="form-label mt-2" for="setEmail">Facebook</label>
                                        <input type="text" class="form-control" name = "page_id" id="setEmail" value = "{{businessinfo.facebook}}" > 										
										
										<label class="form-label mt-2" for="setEmail">Partiner / Web Url</label>
										<input type="text" class="form-control" name = "web_url" id="setEmail" value = "{{businessinfo.partiner_web}}" >
                                        
										<label class="form-label mt-2" for="setEmail">Partiner / Login</label>
										<input type="email" class="form-control" name = "username" id="setEmail" value = "{{businessinfo.username}}" > 
										
                                        <label class="form-label mt-2" for="setPassword">Password</label>
                                        <input type="text" class="form-control" name = "password" id="setPassword" value = "{{businessinfo.password}}" >                                       
                                        
                                     <!--end form-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    
                                        <label class="form-label" for="setLinkAc">Business Category</label>
                                        <select class="form-select"  name = "category">
                                            <option value = "RETAIL AND ECOMM">RETAIL AND ECOMM</option>
                                            <option value = "NONE PROFIT">NONE PROFIT</option>
											
                                            
                                        </select>
                                        <label class="form-label mt-2" for="setCurrency">Billing Plan</label>
                                        <select class="form-select"  name = "billing_plan">
                                            <option value = "BASIC">BASIC</option>
											<option value = "PREMIUM">PREMIUM</option>
											<option value = "PLUS">PLUS</option>
                                            
                                        </select>
										
										
										
										<label class="form-label mt-2" for="setCurrency">Payment Method</label>
                                        <select class="form-select"  name = "payment_method">
                                            <option value = "Bank Transfer">Bank Transfer</option>
											<option value = "Cash">Cash</option>
											
                                            
                                        </select>

                                        <button type="submit" class="btn btn-primary btn-sm mt-3">Save Change</button>
                                    
									<!--end form-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->

					</form> 
					</div><!--end row-->


                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">                                    
                                    <div class="media">
                                        <div class="d-flex justify-content-center align-items-center align-self-center thumb-md bg-soft-primary rounded-circle not-hover">
                                            <i data-feather="smartphone" class="align-self-center"></i>
                                        </div>
                                        <div class="media-body align-self-center ms-2"> 
                                            <h5 class="mt-0 mb-1">SMS Auth</h5>
                                            <p class="text-muted mb-2">Used for withdrawals and security modifications</p>   
                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                <input type="radio" class="btn-check" name="btnradio1" id="Enable1" autocomplete="off" checked>
                                                <label class="btn btn-outline-secondary btn-sm" for="Enable1">Enable</label>
                                                <input type="radio" class="btn-check" name="btnradio1" id="Enable2" autocomplete="off">
                                                <label class="btn btn-outline-secondary btn-sm" for="Enable2">Disable</label>
                                            </div>                                                                                         
                                        </div><!--end media body-->
                                    </div><!--end media-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">                                    
                                    <div class="media">
                                        <div class="d-flex justify-content-center align-items-center align-self-center thumb-md bg-soft-success rounded-circle not-hover">
                                            <i data-feather="chrome" class="align-self-center"></i>
                                        </div>
                                        <div class="media-body align-self-center ms-2"> 
                                            <h5 class="mt-0 mb-1">Google Auth</h5>
                                            <p class="text-muted mb-2">Used for withdrawals and security modifications</p>   
                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                <input type="radio" class="btn-check" name="btnradio1" id="Enable1" autocomplete="off" checked>
                                                <label class="btn btn-outline-secondary btn-sm" for="Enable1">Enable</label>
                                                <input type="radio" class="btn-check" name="btnradio1" id="Enable2" autocomplete="off">
                                                <label class="btn btn-outline-secondary btn-sm" for="Enable2">Disable</label>
                                            </div>                                                                                         
                                        </div><!--end media body-->
                                    </div><!--end media-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">                                    
                                    <div class="media">
                                        <div class="d-flex justify-content-center align-items-center align-self-center thumb-md bg-soft-danger rounded-circle not-hover">
                                            <i data-feather="database" class="align-self-center"></i>
                                        </div>
                                        <div class="media-body align-self-center ms-2"> 
                                            <h5 class="mt-0 mb-1">API</h5>
                                            <p class="text-muted mb-2">Used for withdrawals and security modifications</p>   
                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                <input type="radio" class="btn-check" name="btnradio1" id="Enable1" autocomplete="off" checked>
                                                <label class="btn btn-outline-secondary btn-sm" for="Enable1">Enable</label>
                                                <input type="radio" class="btn-check" name="btnradio1" id="Enable2" autocomplete="off">
                                                <label class="btn btn-outline-secondary btn-sm" for="Enable2">Disable</label>
                                            </div>                                                                                         
                                        </div><!--end media body-->
                                    </div><!--end media-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!-- container -->

                <!--Start Rightbar-->
                <!--Start Rightbar/offcanvas-->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
                    <div class="offcanvas-header border-bottom">
                      <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
                      <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">  
                        <h6>Account Settings</h6>
                        <div class="p-2 text-start mt-3">
                            <div class="form-check form-switch mb-2">
                                <input class="form-check-input" type="checkbox" id="settings-switch1">
                                <label class="form-check-label" for="settings-switch1">Auto updates</label>
                            </div><!--end form-switch-->
                            <div class="form-check form-switch mb-2">
                                <input class="form-check-input" type="checkbox" id="settings-switch2" checked>
                                <label class="form-check-label" for="settings-switch2">Location Permission</label>
                            </div><!--end form-switch-->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="settings-switch3">
                                <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                            </div><!--end form-switch-->
                        </div><!--end /div-->
                        <h6>General Settings</h6>
                        <div class="p-2 text-start mt-3">
                            <div class="form-check form-switch mb-2">
                                <input class="form-check-input" type="checkbox" id="settings-switch4">
                                <label class="form-check-label" for="settings-switch4">Show me Online</label>
                            </div><!--end form-switch-->
                            <div class="form-check form-switch mb-2">
                                <input class="form-check-input" type="checkbox" id="settings-switch5" checked>
                                <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                            </div><!--end form-switch-->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="settings-switch6">
                                <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                            </div><!--end form-switch-->
                        </div><!--end /div-->               
                    </div><!--end offcanvas-body-->
                </div>
                <!--end Rightbar/offcanvas-->
                 <!--end Rightbar-->
                 
                <!--Start Footer-->
                <!-- Footer Start -->
                
                <!-- end Footer -->                
                <!--end footer-->
            </div>
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->
{% endblock content %}