
<!DOCTYPE html>
<html lang="en">
{% load static %}
    



<head>
        <meta charset="utf-8" />
        <title>Bampoo | password reset done!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Bampoo whatsapp platform" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="{%static './app/pangotalk/default/assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static './app/pangotalk/default/assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static './app/pangotalk/default/assets/css/app.min.css'%}" rel="stylesheet" type="text/css" />

    </head>

    <body class="account-body accountbg">

        <!-- Eror-404 page -->
        <div class="container">
            <div class="row vh-100 d-flex justify-content-center">
                <div class="col-12 align-self-center">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="card">
                                <div class="card-body p-0 auth-header-box" style = " background: #86096f;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #611963, #d45375);  
">
                                    <div class="text-center p-3">
                                        <a href="index.html" class="logo logo-admin">
                                            <img src="assets/images/logo-sm-dark.png" height="50" alt="logo" class="auth-logo">
                                        </a>
                                          
                                        <p class="text-muted  mb-0">Back to dashboard of Bampoo.</p>  
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="ex-page-content text-center">
                                        <h3>Password reset complete</h3>
					<small><p>Your password has been set. You may go ahead and log in now. </p></small>                           
                                    </div>            
                                    <a class="btn btn-primary w-100 waves-effect waves-light" href="{% url 'accounts/login' %}">Back to Login <i class="fas fa-redo ms-1"></i></a>                         
                                </div>
                                <div class="card-body bg-light-alt text-center">
                                    <span class="text-muted d-none d-sm-inline-block">Bampoo © <script>
                                        document.write(new Date().getFullYear())
                                    </script></span>                                            
                                </div>
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
        <!-- End Eror-404 page -->

        


           <!-- jQuery  -->
        <script src="{%static './register/js/jquery.min.js'%}"></script>
<script src="{%static './register/js/popper.min.js'%}"></script>
<script src="{%static './register/js/bootstrap.min.js'%}"></script>
<script src="{%static './register/js/main.js'%}"></script>

        
        
    </body>


<!-- Mirrored from mannatthemes.com/dastone/default/auth-500.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Sep 2021 12:39:32 GMT -->
</html>