
<!DOCTYPE html>
<html lang="en">

    
{% load static %}
<head>
        <meta charset="utf-8" />
        <title>
		{% block title %}
		
		
		
		{% endblock title %}
		
		</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{%static './app/tengesa/default/assets/images/favicon.ico'%}">

        <!-- jvectormap -->
		 <link href="{%static './app/tengesa/plugins/dropify/css/dropify.min.css'%}" rel="stylesheet">
        <link href="{%static './app/tengesa/plugins/jvectormap/jquery-jvectormap-2.0.2.css'%}" rel="stylesheet">




<!-- DataTables -->
        <link href="{%static './app/tengesa/plugins/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static './app/tengesa/plugins/datatables/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="{%static './app/tengesa/plugins/datatables/responsive.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" /> 




        <!-- App css -->
        <link href="{%static './app/tengesa/default/assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static './app/tengesa/default/assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static './app/tengesa/default/assets/css/metisMenu.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static './app/tengesa/plugins/daterangepicker/daterangepicker.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static './app/tengesa/default/assets/css/app.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static './app/tengesa/default/assets/css/custom.css'%}" rel="stylesheet" type="text/css" />
    </head>
    
	
	<body>
	
         

        
           
{% block content %}
<!-- Page Content-->
<!-- container -->
{% endblock content %}
                
       
        


 <!-- jQuery  -->
        <script src="{%static './registration/subdomain-creating/assets/default/assets/js/jquery.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/default/assets/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/default/assets/js/metismenu.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/default/assets/js/waves.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/default/assets/js/feather.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/default/assets/js/simplebar.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/default/assets/js/moment.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/daterangepicker/daterangepicker.js'%}"></script>

<!-- Required datatable js -->
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/jquery.dataTables.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/dataTables.bootstrap4.min.js'%}"></script>


        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/dataTables.buttons.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/buttons.bootstrap4.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/jszip.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/pdfmake.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/vfs_fonts.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/buttons.html5.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/buttons.print.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/buttons.colVis.min.js'%}"></script>
        <!-- Responsive examples -->
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/dataTables.responsive.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/datatables/responsive.bootstrap4.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creatingassets/pages/jquery.datatable.init.js'%}"></script>

		 
		 
		 
        <script src="{%static './registration/subdomain-creating/assets/plugins/apex-charts/apexcharts.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/plugins/jvectormap/jquery-jvectormap-us-aea-en.js'%}"></script>
        <script src="{%static './registration/subdomain-creating/assets/default/assets/pages/jquery.analytics_dashboard.init.js'%}"></script>
         <script src="{%static 'app/tengesa/plugins/dropify/js/dropify.min.js'%}"></script>
        <script src="{%static 'app/tengesa/default/assets/pages/jquery.form-upload.init.js'%}"></script>
        
        <!-- App js -->
        <script src="{%static './registration/subdomain-creating/assets/default/assets/js/app.js'%}"></script>
    </body>

</html>
