{% extends 'app/base.html' %}
{% load static %}



{% block title %}

PangoTalk | Knolegde Base
{% endblock title %}

{% block content %}
            <main>
                <div class="vd jd tto vv zy oq ar ri">

                    <div class="tnr">

                        <!-- Left + Middle content -->
                        <div class="qd ac">

                            <!-- Left content -->
                            <div class="oq qk ry qf">
							<div class="jq qt qy zv zd ta"> 
							<div class="zw"> 
							<header class="rb"> 
							<h1 class="gg zj text-slate-800 font-bold">Feed ✨</h1> </header>
							<div class="tni rb"> 
							<form class="td"> 
							<label for="feed-search-mobile" class="tc">Search</label> 
							<input id="feed-search-mobile" class="tn oq mf kn" type="search" placeholder="Search…">
							<button class="tp tm tg kp" type="submit" aria-label="Search"> 
							<svg class="ue on ap db yu kv ml-3 mr-2" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
							<path d="M7 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zM7 2C4.243 2 2 4.243 2 7s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5z"></path>
							<path d="M15.707 14.293L13.314 11.9a8.019 8.019 0 01-1.414 1.414l2.393 2.393a.997.997 0 001.414 0 .999.999 0 000-1.414z">
							</path> </svg> </button> 
							</form>
							</div> 
							<div class="flex fp cn ta qh zp vd zh rl">
							<div> 
							<div class="gb g_ yu gq it j_">Menu</div>
							<ul class="flex fp qh rk ql">
							<li class="sa ql qc"> 
							<a class="flex items-center vk vg rounded co bg-white" href="#0">
							<svg class="ue on ap db text-indigo-500 mr-2" viewBox="0 0 16 16">
							<path d="M10 16h4c.6 0 1-.4 1-.998V6.016c0-.3-.1-.6-.4-.8L8.6.226c-.4-.3-.9-.3-1.3 0l-6 4.992c-.2.2-.3.5-.3.799v8.986C1 15.6 1.4 16 2 16h4c.6 0 1-.4 1-.998v-2.996h2v2.996c0 .599.4.998 1 .998Zm-4-5.99c-.6 0-1 .399-1 .998v2.995H3V6.515L8 2.32l5 4.194v7.488h-2v-2.995c0-.6-.4-.999-1-.999H6Z"></path> </svg> 
							<span class="text-sm gk text-indigo-500">Home</span> </a> 
							</li> 
							<li class="sa ql qc"> 
							<a class="flex items-center vk vg rounded co" href="#0">
							<svg class="ue on ap db yu mr-2" viewBox="0 0 16 16">
							<path d="M14.14 9.585h-.002a2.5 2.5 0 0 1-2 4.547 6.91 6.91 0 0 1-6.9 1.165 4.436 4.436 0 0 0 1.343-1.682c.365.087.738.132 1.113.135a4.906 4.906 0 0 0 2.924-.971 2.5 2.5 0 0 1 3.522-3.194Zm-4.015-7.397a7.023 7.023 0 0 1 4.47 5.396 4.5 4.5 0 0 0-1.7-.334c-.15.002-.299.012-.447.03a5.027 5.027 0 0 0-2.723-3.078 2.5 2.5 0 1 1 .4-2.014ZM4.663 10.5a2.5 2.5 0 1 1-3.859-.584 6.888 6.888 0 0 1-.11-1.166c0-2.095.94-4.08 2.56-5.407.093.727.364 1.419.788 2.016A4.97 4.97 0 0 0 2.694 8.75c.003.173.015.345.037.516A2.49 2.49 0 0 1 4.663 10.5Z"></path> </svg>
							<span class="text-sm gk ys">Video Library</span> </a> </li>
							
							<li class="sa ql qc"> <a class="flex items-center vk vg rounded co" href="#0"> 
							<svg class="ue on ap db yu mr-2" viewBox="0 0 16 16">
							<path d="M5 9h11v2H5V9zM0 9h3v2H0V9zm5 4h6v2H5v-2zm-5 0h3v2H0v-2zm5-8h7v2H5V5zM0 5h3v2H0V5zm5-4h11v2H5V1zM0 1h3v2H0V1z">
							</path> </svg>
							<span class="text-sm gk ys">Audio Library</span> </a> </li>
							<li class="sa ql qc"> <a class="flex items-center vk vg rounded co" href="#0">
							<svg class="ue on ap db yu mr-2" viewBox="0 0 16 16">
							<path d="M10.59 7.658 8 5.5 5.41 7.658A.25.25 0 0 1 5 7.466V0h6v7.466a.25.25 0 0 1-.41.192Z"></path>
							<path d="M14 16H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2v2H2v12h12V2h-2V0h2a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2Z"></path> 
							</svg> 
							<span class="text-sm gk ys">Documents Library</span> </a> </li>
							<li class="sa ql qc"> <a class="flex items-center vk vg rounded co" href="#0"> 
							<svg class="ue on ap db yu mr-2" viewBox="0 0 16 16"> 
							<path d="M12.311 9.527c-1.161-.393-1.85-.825-2.143-1.175A3.991 3.991 0 0012 5V4c0-2.206-1.794-4-4-4S4 1.794 4 4v1c0 1.406.732 2.639 1.832 3.352-.292.35-.981.782-2.142 1.175A3.942 3.942 0 001 13.26V16h14v-2.74c0-1.69-1.081-3.19-2.689-3.733zM6 4c0-1.103.897-2 2-2s2 .897 2 2v1c0 1.103-.897 2-2 2s-2-.897-2-2V4zm7 10H3v-.74c0-.831.534-1.569 1.33-1.838 1.845-.624 3-1.436 3.452-2.422h.436c.452.986 1.607 1.798 3.453 2.422A1.943 1.943 0 0113 13.26V14z"></path> 
							</svg> <span class="text-sm gk ys">Image Library</span> </a> </li> </ul> </div> <div> 
							
							
							
							</div>
							</div> </div> 
							</div>
							</div>

                            <!-- Middle content -->
                            <div class="ac qu ttz 2xl:mx-8">
                                <div class="zw">

                                    <!-- Blocks -->
                                    <div class="ln">

                                        <!-- Post Block -->
                                        <div class="bg-white shadow-md rounded border border-slate-200 vl">
                                            <div class="flex items-center lu id">
                                                
                                                <div class="ad">
                                                    
                                                    <input id="status-input" class="tn oq hy he kr kn bc" type="text" placeholder="Search...">
                                                </div>
                                            </div>
                                            <div class="flex fg items-center">
                                                
                                                <div>
                                                    <button type="submit" class="tt hb xs yo co">Search for post</button>
                                                </div>
                                            </div>
                                        </div>

                                       
										 
										 {% for article in all_knoledge %}
										 <div class="bg-white shadow-md rounded border border-slate-200 vl"> 
										 <header class="flex fg fd lu it"> 
										 <div class="flex fd lu">
										 <img class="rounded-full ap" src="{%static './app/images/profile.png'%}" width="40" height="40" alt="User 08">
										 <div> <div class="yn"> <a class="text-sm g_ text-slate-800" href="#0">{{article.author}}</a> </div>
										 <div class="gb text-slate-500">{{article.date}}</div> 
										 </div>
										 </div> <div class="td"> 
										 <div class="tp tk tw inline-flex" x-data="{ open: false }"> 
										 <button class="yu xm rounded-full" :class="{ 'hy text-slate-500': open }" aria-haspopup="true" @click.prevent="open = !open" :aria-expanded="open"> 
										 <span class="tc">Menu</span> 
										 <svg class="uu of db" viewBox="0 0 32 32"> <circle cx="16" cy="16" r="2">
										 </circle>
										 <circle cx="10" cy="16" r="2"></circle> <circle cx="22" cy="16" r="2"></circle> 
										 </svg>
										 </button> 
										 <div class="am nv tp tq tw ae bg-white border border-slate-200 ms rounded by lq iu" @click.outside="open = false" @keydown.escape.window="open = false" x-show="open" x-transition:enter="wr wh wf fe" x-transition:enter-start="opacity-0 aw" x-transition:enter-end="bv ax" x-transition:leave="wr wh wf" x-transition:leave-start="bv" x-transition:leave-end="opacity-0" x-cloak=""> 
										 <ul>
										 
										 <li> <a class="gk text-sm ys xy flex mt me" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Edit</a> </li> 
										 <li> <a class="gk text-sm yl xb flex mt me" href="#0" @click="open = false" @focus="open = true" @focusout="open = false">Delete</a> </li>
										 </ul> 
										 </div>
										 </div>
										 </div> 
										 </header>
										 <div class="text-sm text-slate-800 li id"> 
										 <p>{{article.description}}</p> 
										 <div>
									
									
									{%if article.category == 'Documents' %}
									
									<iframe src="{{article.mediafile.url}}#toolbar=0" width="100%" height="100px">
                                           </iframe>
										 
										{%elif article.category == 'Image' %}
										
										<img class="block oq" src="{{article.mediafile.url}}" width="590" height="332" alt="Feed 01">
										
										{%elif article.category == 'Audio' %}
										
										<audio controls>
											<source src="{{article.mediafile.url}}">
											</audio>
										
										{%elif article.category == 'Video' %}
										
										<video width="320" height="240" controls>
											<source src="{{article.mediafile.url}}">
											</video>
										
										{% else %}
										
										{% endif %}
								 
										 
										 
										
										
										 
										 <div class="tp no nu na"> <div class="flex items-center lv"> 
										 
										
										
										 </div> 
										 </div> 
										 </div> 
										 </div>
										 <footer class="flex items-center lr"> 
										 <button class="flex items-center text-indigo-400">
										 <svg class="ue on ap db iq" viewBox="0 0 16 16"> 
										 <path d="M14.682 2.318A4.485 4.485 0 0011.5 1 4.377 4.377 0 008 2.707 4.383 4.383 0 004.5 1a4.5 4.5 0 00-3.182 7.682L8 15l6.682-6.318a4.5 4.5 0 000-6.364zm-1.4 4.933L8 12.247l-5.285-5A2.5 2.5 0 014.5 3c1.437 0 2.312.681 3.5 2.625C9.187 3.681 10.062 3 11.5 3a2.5 2.5 0 011.785 4.251h-.003z"></path> </svg> 
										 <div class="text-sm text-indigo-500">2.2K</div> 
										 </button>
										 <button class="flex items-center yu xg"> 
										 <svg class="ue on ap db iq" viewBox="0 0 16 16"> 
										 <path d="M13 7h2v6a1 1 0 0 1-1 1H4v2l-4-3 4-3v2h9V7ZM3 9H1V3a1 1 0 0 1 1-1h10V0l4 3-4 3V4H3v5Z"></path>
										 </svg> <div class="text-sm text-slate-500">4.3K</div> </button>
										 
										 </footer> 
										 </div> 
										 {% endfor %}
										 
										 
										 
										 

                                    </div>

                                </div>
                            </div>

                        </div>

                         </div>

                </div>
            </main>

{% endblock content %}