{% extends 'non_profit/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
PangoTalk | Partner Request
{% endblock title %}
{% block content %}
            
			<main>
               <div class="vd jd tto vv oq ar ri">
                  <!-- Page header -->
                  <div class="_y js jn ry">
                     <!-- Left: Title -->
                     <div class="rw _a">
                        <h1 class="gg zj text-slate-800 font-bold">Partner Request ✨</h1>
                     </div>
                     <!-- Right: Actions -->
                     <div class="sq fa _j fm ji fy">
                        <div class="table-items-action hidden">
                           <div class="flex items-center">
                              <div class="hidden tnn text-sm gz mr-2 co"><span class="table-items-count"></span> items selected</div>
                              <button class="btn bg-white border-slate-200 hover--border-slate-300 yl xb">Delete</button> 
                           </div>
                        </div>
                        <div class="td" x-data="{ open: false, selected: 2 }">
                           <button class="btn fg uj bg-white border-slate-200 hover--border-slate-300 text-slate-500 hover--text-slate-600" aria-label="Select date range" aria-haspopup="true" @click.prevent="open = !open" :aria-expanded="open">
                              <span class="flex items-center">
                                 <svg class="ue on db text-slate-500 ap mr-2" viewBox="0 0 16 16">
                                    <path d="M15 2h-2V0h-2v2H9V0H7v2H5V0H3v2H1a1 1 0 00-1 1v12a1 1 0 001 1h14a1 1 0 001-1V3a1 1 0 00-1-1zm-1 12H2V6h12v8z"></path>
                                 </svg>
                                 <span x-text="$refs.options.children[selected].children[1].innerHTML"></span> 
                              </span>
                              <svg class="ap rq db yu" width="11" height="7" viewBox="0 0 11 7">
                                 <path d="M5.4 6.8L0 1.4 1.4 0l4 4 4-4 1.4 1.4z"></path>
                              </svg>
                           </button>
                           <div class="nv tp tq tw oq bg-white border border-slate-200 ms rounded by lq iu" @click.outside="open = false" @keydown.escape.window="open = false" x-show="open" x-transition:enter="wr wh wa fe" x-transition:enter-start="opacity-0 aw" x-transition:enter-end="bv ax" x-transition:leave="wr wh wa" x-transition:leave-start="bv" x-transition:leave-end="opacity-0" x-cloak="">
                              <div class="gk text-sm ys" x-ref="options">
                                 <button tabindex="0" class="flex items-center oq xo mt me fn" :class="selected === 0 &amp;&amp; 'text-indigo-500'" @click="selected = 0;open = false" @focus="open = true" @focusout="open = false"> 
                                 <svg class="ap mr-2 db text-indigo-500" :class="selected !== 0 &amp;&amp; 'invisible'" width="12" height="9" viewBox="0 0 12 9">
                                    <path d="M10.28.28L3.989 6.575 1.695 4.28A1 1 0 00.28 5.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28.28z"></path>
                                 </svg>
                                 <span>Today</span> </button> <button tabindex="0" class="flex items-center oq xo mt me fn" :class="selected === 1 &amp;&amp; 'text-indigo-500'" @click="selected = 1;open = false" @focus="open = true" @focusout="open = false"> 
                                 <svg class="ap mr-2 db text-indigo-500" :class="selected !== 1 &amp;&amp; 'invisible'" width="12" height="9" viewBox="0 0 12 9">
                                    <path d="M10.28.28L3.989 6.575 1.695 4.28A1 1 0 00.28 5.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28.28z"></path>
                                 </svg>
                                 <span>Last 7 Days</span> </button> <button tabindex="0" class="flex items-center oq xo mt me fn" :class="selected === 2 &amp;&amp; 'text-indigo-500'" @click="selected = 2;open = false" @focus="open = true" @focusout="open = false"> 
                                 <svg class="ap mr-2 db text-indigo-500" :class="selected !== 2 &amp;&amp; 'invisible'" width="12" height="9" viewBox="0 0 12 9">
                                    <path d="M10.28.28L3.989 6.575 1.695 4.28A1 1 0 00.28 5.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28.28z"></path>
                                 </svg>
                                 <span>Last Month</span> </button> <button tabindex="0" class="flex items-center oq xo mt me fn" :class="selected === 3 &amp;&amp; 'text-indigo-500'" @click="selected = 3;open = false" @focus="open = true" @focusout="open = false"> 
                                 <svg class="ap mr-2 db text-indigo-500" :class="selected !== 3 &amp;&amp; 'invisible'" width="12" height="9" viewBox="0 0 12 9">
                                    <path d="M10.28.28L3.989 6.575 1.695 4.28A1 1 0 00.28 5.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28.28z"></path>
                                 </svg>
                                 <span>Last 12 Months</span> </button> <button tabindex="0" class="flex items-center oq xo mt me fn" :class="selected === 4 &amp;&amp; 'text-indigo-500'" @click="selected = 4;open = false" @focus="open = true" @focusout="open = false"> 
                                 <svg class="ap mr-2 db text-indigo-500" :class="selected !== 4 &amp;&amp; 'invisible'" width="12" height="9" viewBox="0 0 12 9">
                                    <path d="M10.28.28L3.989 6.575 1.695 4.28A1 1 0 00.28 5.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28.28z"></path>
                                 </svg>
                                 <span>All Time</span> </button> 
                              </div>
                           </div>
                        </div>
                        <div class="td inline-flex">
                           <button class="btn bg-white border-slate-200 hover--border-slate-300 text-slate-500 hover--text-slate-600">
                              <span class="tc">Filter</span><wbr> 
                              <svg class="ue on db" viewBox="0 0 16 16">
                                 <path d="M9 15H7a1 1 0 010-2h2a1 1 0 010 2zM11 11H5a1 1 0 010-2h6a1 1 0 010 2zM13 7H3a1 1 0 010-2h10a1 1 0 010 2zM15 3H1a1 1 0 010-2h14a1 1 0 010 2z"></path>
                              </svg>
                           </button>
                        </div>

                     </div>
                  </div>
                  <!-- Table -->
                  <div class="bg-white by rounded-sm border border-slate-200 ry">
                     <header class="mn mr">
                        <h2 class="g_ text-slate-800">All Partner Request <span class="yu gk">({{total_request}})</span></h2>
                     </header>
                     <div x-data="handleSelect">
                        <div class="lz">
                           <table class="av oq lg lb">
                              <thead class="gb gq text-slate-500 hq ck border-slate-200">
                                 <tr>
                                    <th class="v_ wk xe vm co ut">
                                       <div class="flex items-center"> <label class="inline-flex"> <span class="tc">Select all</span> <input id="parent-checkbox" class="to" type="checkbox" @click="toggleAll"> </label> </div>
                                    </th>
                                    <th class="v_ wk xe vm co">
                                       <div class="g_ gh">Partner Organisation</div>
                                    </th>
                                   
                                    <th class="v_ wk xe vm co">
                                       <div class="g_ gh">Partner Type</div>
                                    </th>
                                    
                                    <th class="v_ wk xe vm co">
                                       <div class="g_ gh">Status</div>
                                    </th>
                                    
                                    <th class="v_ wk xe vm co">
                                       <div class="g_ gh">Date</div>
                                    </th>
                                    <th class="v_ wk xe vm co">
                                       <div class="g_ gh">Options</div>
                                    </th>
                                    <th class="v_ wk xe vm co"> <span class="tc">Menu</span> </th>
                                 </tr>
                              </thead>
							  
							  {% for partner in all_partners %}
                              <tbody class="text-sm" x-data="{ open: false }">
                                 <tr>
                                    <td class="v_ wk xe vm co ut">
                                       <div class="flex items-center"> <label class="inline-flex"> <span class="tc">Select</span> <input class="table-item to" type="checkbox" @click="uncheckParent"> </label> </div>
                                    </td>
                                    <td class="v_ wk xe vm co">
                                       <div class="flex items-center text-slate-800">
                                          <div class="ua ol ap flex items-center justify-center hy rounded-full mr-2 _f">

										  <img class="rq" src="{%static './app/images/icon-01.svg'%}" width="20" height="20" alt="Icon 01"> 

										  </div>
                                          <div class="gk yj">{{partner.partner_organisation }}</div>
                                       </div>
                                    </td>
                                    
                                    <td class="v_ wk xe vm co">
                                       <div class="gk text-slate-800">{{partner.partner_type}}</div>
                                    </td>
                                    
                                    <td class="v_ wk xe vm co">
                                       <div class="inline-flex gk pe yh rounded-full gp vk vy">{{ partner.partner_request_status }}</div>
                                    </td>
                                    
                                    <td class="v_ wk xe vm co">
                                       <div class="gh">{{ partner.dateadded}}</div>
                                    </td>
                                    <td class="v_ wk xe vm co">
                                       <div class="flex items-center">
                                          <svg class="ue on db yu ap mr-2" viewBox="0 0 16 16">
                                             <path d="M4.3 4.5c1.9-1.9 5.1-1.9 7 0 .7.7 1.2 1.7 1.4 2.7l2-.3c-.2-1.5-.9-2.8-1.9-3.8C10.1.4 5.7.4 2.9 3.1L.7.9 0 7.3l6.4-.7-2.1-2.1zM15.6 8.7l-6.4.7 2.1 2.1c-1.9 1.9-5.1 1.9-7 0-.7-.7-1.2-1.7-1.4-2.7l-2 .3c.2 1.5.9 2.8 1.9 3.8 1.4 1.4 3.1 2 4.9 2 1.8 0 3.6-.7 4.9-2l2.2 2.2.8-6.4z"></path>
                                          </svg>
                                          <div>Select Option</div>
                                       </div>
                                    </td>
                                    <td class="v_ wk xe vm co ut">
                           <div class="flex items-center">
                              <button class="yu xm fe" :class="{ 'az': open }" @click.prevent="open = !open" :aria-expanded="open" aria-controls="description-01">
                                 <span class="tc">Menu</span> 
                                 <svg class="uu of db" viewBox="0 0 32 32">
                                    <path d="M16 20l-5.4-5.4 1.4-1.4 4 4 4-4 1.4 1.4z">
                                    </path>
                                 </svg>
                              </button>
                           </div>
                        </td>
                     </tr>
					 
                     <tr id="description-01" role="region" x-show="open" x-cloak="">
					 <form method  ="POST">
						   {% csrf_token %}
                        <td colspan="10" class="v_ wk xe vm">
                           <div class="flex items-center hq vf ia">
						   
                              <div class="nz">
                                 <!-- Start -->
                                 <select id="country" class="btn border-slate-200 hover--border-slate-300 ys"
                                    name = "category">
                                    <option value = "">Status</option>
                                    <option value = "Pending">Pending</option>
                                    <option value="Approved">Approved</option>
                                    
                                 </select>
                              </div>
                              <!-- End -->
							  
							  <div class="nz">
                                 <!-- Start -->
                                 <button class="btn border-slate-200 hover--border-slate-300 " type ="submit">
                                      <span class="r_">Save Changes </span>
									  <svg fill="#28bd46" width="20px" height="20px" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg" stroke="#28bd46"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M128,24A104,104,0,1,0,232,128,104.12041,104.12041,0,0,0,128,24Zm49.53125,85.78906-58.67187,56a8.02441,8.02441,0,0,1-11.0625,0l-29.32813-28a8.00675,8.00675,0,0,1,11.0625-11.57812l23.79687,22.72656,53.14063-50.72656a8.00675,8.00675,0,0,1,11.0625,11.57812Z"></path> </g></svg>
                                  
                                 </button>
                                 <!-- End -->
                              </div>
                              
                              <div class="nz">
                                 <!-- Start -->
                                 <a href="#" class="btn border-slate-200 hover--border-slate-300 yl">
                                    <svg class="ue on db ap" viewBox="0 0 16 16">
                                       <path d="M5 7h2v6H5V7zm4 0h2v6H9V7zm3-6v2h4v2h-1v10c0 .6-.4 1-1 1H2c-.6 0-1-.4-1-1V5H0V3h4V1c0-.6.4-1 1-1h6c.6 0 1 .4 1 1zM6 2v1h4V2H6zm7 3H3v9h10V5z"></path>
                                    </svg>
                                    <span class="r_">Delete</span>
                                 </a>
                                 <!-- End -->
                              </div>
                           </div>
                        </td>
						</form>
                     </tr>
                              </tbody>
							  
							  {% endfor %}
							  
						   </table>
                        </div>
                     </div>
                  </div>
                  <script>document.addEventListener("alpine:init",()=>{Alpine.data("handleSelect",()=>({selectall:!1,selectAction(){countEl=document.querySelector(".table-items-action"),countEl&&(checkboxes=document.querySelectorAll("input.table-item:checked"),document.querySelector(".table-items-count").innerHTML=checkboxes.length,checkboxes.length>0?countEl.classList.remove("hidden"):countEl.classList.add("hidden"))},toggleAll(){this.selectall=!this.selectall,checkboxes=document.querySelectorAll("input.table-item"),[...checkboxes].map(e=>{e.checked=this.selectall}),this.selectAction()},uncheckParent(){this.selectall=!1,document.getElementById("parent-checkbox").checked=!1,this.selectAction()}}))})</script>
                  <div class="flex fh _z jn js">
                     <nav class="rw _a _e" role="navigation" aria-label="Navigation">
                        <ul class="flex justify-center">
                           <li class="ml-3 first--ml-0"> <a class="btn bg-white border-slate-200 yv fr" href="#0" disabled="disabled">&lt;- Previous</a> </li>
                           <li class="ml-3 first--ml-0"> <a class="btn bg-white border-slate-200 hover--border-slate-300 text-indigo-500" href="#0">Next -&gt;</a> </li>
                        </ul>
                     </nav>
                     <div class="text-sm text-slate-500 gp jy"> Showing <span class="gk ys">1</span> to <span class="gk ys">10</span> of <span class="gk ys">467</span> results </div>
                  </div>
               </div>
            </main>
         
		 
		 {% endblock content %}