{% extends 'non_profit/base.html' %}
{% load static %}



{% load crispy_forms_tags %}




{% block title %}

PangoTalk | Password Reset
{% endblock title %}

{% block content %}




            <main>
                <div class="vd jd tto vv oq ar ri">

                    <!-- Page header -->
                    <div class="ry">

                        <!-- Title -->
                        <h1 class="gg zj text-slate-800 font-bold">Account Password Reset ✨</h1>

                    </div>

                    <div class="bg-white by rounded-sm ry">
                        <div class="flex fh zt qo">

                            <!-- Sidebar -->
                            <div class="flex fp cn ta qh zp me mu cx zm zg border-slate-200 uz zh"> 
							<div> <div class="gb g_ yu gq it">Business settings</div> 
							
                               {% include 'app/partials/_settings_non_profit_nav.html' %}							

							</div>

							
							</div>

                            <!-- Panel -->
                            <div class="ad">
                                <form method = "POST" enctype= "multipart/form-data">
								
								{% csrf_token %}
                                <!-- Panel body -->
                                <div class="vs fz">
                                    <h2 class="gg text-slate-800 font-bold id">Password Reset</h2>

                                    <!-- Picture -->
                                    

                                    <!-- Business Profile -->
                                    <section>
                                        <style>
							    #id_old_password{outline: none;
								width: 100%;
								padding: 10px 20px;
								font-size: 15px;
								outline: 0;
								font-weight: 500;
								color: #717171;
								height: 45px;
								border-radius: 3px;
								border: 1px solid #dbdbdb;
								box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
							}
							
							
							
					            #id_new_password1{outline: none;
								width: 100%;
								padding: 10px 20px;
								font-size: 15px;
								outline: 0;
								font-weight: 500;
								color: #717171;
								height: 45px;
								border-radius: 3px;
								border: 1px solid #dbdbdb;
								box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
							}
							

							 #id_new_password2{outline: none;
								width: 100%;
								padding: 10px 20px;
								font-size: 15px;
								outline: 0;
								font-weight: 500;
								color: #717171;
								height: 45px;
								border-radius: 3px;
								border: 1px solid #dbdbdb;
								box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
							}
							</style>
                                        
                                        <div class="_y jn ln ju jl ig">
                                            <div class="_x">
                                                {{form | crispy }}
												</div>
                                            </div>
                                            
                                        </div>
                                    </section>

                                    <!-- Email -->
                                    

                                 </div>   <!-- Smart Sync -->
                                    
                                </div>

                                <!-- Panel footer -->
                                <footer>
                                    <div class="flex fh vw vx ck border-slate-200">
                                        <div class="flex lk">
                                            <button class="btn border-slate-200 hover--border-slate-300 ys">Cancel</button>
                                            <button class="btn hb xs yo ml-3" type = "submit">Save Changes</button>
                                        </div>
                                    </div>
                                </footer>

                            </div>
                         </form>
                        </div>
                    </div>

                </div>
            </main>

      {% endblock content %}